:root {
  --slidev-theme-primary: rgb(246, 246, 245);
  --background: rgb(246, 246, 245);
  --foreground: rgb(50, 50, 47);
  --primary: rgb(50, 50, 47);
  --primary-foreground: rgb(246, 246, 245);
  --secondary: rgb(236, 236, 234);
  --secondary-foreground: rgb(50, 50, 47);
  --muted-foreground: rgb(155, 155, 150);
}

.slidev-layout {
  background-color: var(--background);
  color: var(--foreground);

  h1,
  h2,
  h3 {
    width: fit-content;
    background-color: var(--primary);
    color: var(--primary-foreground);
  }

  a {
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }
}

/*.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}*/
